<h1> Data Science Tools and Ecosystem </h1>

<p> In this notebook, Data Science Tools and Ecosystem are summarized. <p>

<strong> Objectives: </strong>
<ul>
    <li> List popular languages for Data Science </li>
    <li> List popular libraries for Data Science </li>
    <li> List popular tools for Data Science </li>
    <li> Python examples </li>
</ul>

<p> Some of the popular languages that Data Scientists use are: </p>
<ol>
    <li> Python </li>
    <li> R </li>
    <li> Java </li>
</ol>

<p> Some of the commonly used libraries used by Data Scientists include: </p>
<ol>
    <li> pandas </li>
    <li> matplotlib </li>
    <li> scikit </li>
</ol>

| Data Science Tools |
| --- |
| Jupyter notebook |
| RStudio |
| Apache Zeppelin |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author </h2>
<p> Krishna K. Aroomoogon </p>